# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.cso
CMakeUserPresets.json

.vs/
out/
build/
ByteEngineD3D11/Platform/Windows/Resources/*
!ByteEngineD3D11/Platform/Windows/Resources/*/
!ByteEngineD3D11/Platform/Windows/Resources/*.*